<!-- eslint-disable @angular-eslint/template/eqeqeq -->
<ion-header class="ion-no-border">
  <ion-toolbar class="head">
    <ion-title class="ion-text-center" style="font-size: 18px;">Quiz Summary</ion-title>
    <ion-buttons slot="start">
      <ion-back-button style="color: white !important;" defaultHref="/dashboard"></ion-back-button>
    </ion-buttons>

    <ion-buttons slot="end" style="visibility: hidden !important;">
      <ion-back-button style="color: white !important;"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ng-container *ngIf="isShow">

    <ion-grid style="margin-top:1em;">

      <ion-row>
        <ion-col size-xs="12" size-sm="12" size-md="6" style="margin:auto;">
          <ion-row *ngFor="let item of summary?.answers; let i=index;" class="pad">
            <ion-col size-xs="12" size-sm="12" size-md="12">
              <p style="color: gray;"> <span style="font-weight: 600;">{{(i + 1) +'.'}}</span>&nbsp; {{
                item?.question_name}}</p>
            </ion-col>

            <ion-col size-xs="3.5" size-sm="3.5" size-md="3.5">
              <p>Your Answer : </p>
            </ion-col>
            <ion-col size-xs="7.5" size-sm="7.5" size-md="7.5">
              <p [ngClass]="{'is-correct': item.is_correct,
          'is-incorrect': !item.is_correct}">{{item?.answer_value}}</p>
            </ion-col>
            <ion-col size-xs="1" size-sm="1" size-md="1">
              <ion-icon *ngIf="item.is_correct" style="font-size: 25px;" src="assets/icon/right.svg"></ion-icon>
              <ion-icon *ngIf="!item.is_correct" style="font-size: 25px;" src="assets/icon/wrong.svg"></ion-icon>
            </ion-col>

            <ion-col size-xs="12" size-sm="12" size-md="12">
              <ion-chip style="height: 25px;background: transparent;" (click)="explanation(item?.explanation)">
                <ion-label style="color:#205e99;font-size: 16px;">Explanation</ion-label>
                <ion-icon name="information-circle-outline" style="color: #205e99;"></ion-icon>
              </ion-chip>
            </ion-col>

            <hr style="border-bottom: 0.5px solid grey;width:90%">

          </ion-row>
        </ion-col>
      </ion-row>

    </ion-grid>
    <ion-row>
      <ion-col size-xs="10" size-sm="10" size-md="6" style="margin: auto !important;">
        <ion-chip color="primary" mode="ios" outline="true" class="progress-chip">
          <ion-row style="width: 100%;display:flex;align-items:center;">
            <ion-col size="7">
              <ion-progress-bar [value]="summary?.percentage" class="progress-bar"></ion-progress-bar>
            </ion-col>
            <ion-col size="2">
              <ion-icon *ngIf="summary?.percentage != 1" src="assets/icon/star.svg" class="progress-star"></ion-icon>
              <ion-icon *ngIf="summary?.percentage == 1" src="assets/icon/star-fill.svg" class="progress-star">
              </ion-icon>
            </ion-col>
            <ion-col size="3" style="text-align:center;">
              <ion-label style="color: black;">{{summary?.correct}}/{{summary?.total}}</ion-label>
            </ion-col>
          </ion-row>
        </ion-chip>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col size="12" style="text-align: center;">
        <ion-label style="font-weight: 500;color:#205e99;cursor:pointer;" (click)="feedback()">Give Feedback</ion-label>
      </ion-col>
    </ion-row>

    <ion-row *ngIf="device == 'ios'">
      <ion-col size="12" style="text-align:center;" *ngIf="summary?.codes">
        <ion-label style="text-align: center;color:var(--ion-color-custom-blue);font-weight:500;">{{summary?.codes}}
        </ion-label>
      </ion-col>

      <ion-col size-xs="6" size-sm="6" size-md="6" offset="3">
        <ion-button (click)="congrats()" *ngIf="onSummaryFrom != 'quiz/dashboard'"
          style="--background: var(--ion-color-custom-blue);--border-radius: 10px;text-transform:none;width: 100%;">
          Continue</ion-button>
        <ion-button *ngIf="onSummaryFrom == 'quiz/dashboard'" routerLink="quiz/dashboard"
          style="--background: var(--ion-color-custom-blue);--border-radius: 10px;text-transform:none;width: 100%;">
          Continue</ion-button>
      </ion-col>
    </ion-row>

  </ng-container>
</ion-content>

<ion-footer class="ion-no-border" *ngIf="device != 'ios'">
  <ng-container *ngIf="isShow">
    <ion-toolbar>
      <ion-row>
        <ion-col size="12" style="text-align:center;" *ngIf="summary?.codes">
          <ion-label style="text-align: center;color:var(--ion-color-custom-blue);font-weight:500;">{{summary?.codes}}
          </ion-label>
        </ion-col>

        <ion-col size-xs="6" size-sm="6" size-md="6" offset="3">
          <ion-button (click)="congrats()" *ngIf="onSummaryFrom != 'quiz/dashboard'"
            style="--background: var(--ion-color-custom-blue);--border-radius: 10px;text-transform:none;width: 100%;">
            Continue</ion-button>
          <ion-button *ngIf="onSummaryFrom == 'quiz/dashboard'" routerLink="quiz/dashboard"
            style="--background: var(--ion-color-custom-blue);--border-radius: 10px;text-transform:none;width: 100%;">
            Continue</ion-button>
        </ion-col>
      </ion-row>
    </ion-toolbar>
  </ng-container>
</ion-footer>
